<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NERVEntities" connectionString="metadata=res://*/NERVContext.csdl|res://*/NERVContext.ssdl|res://*/NERVContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=NERV;User ID=sa;Password=X0wq3p01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>