<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NERVEntities" connectionString="metadata=res://*/NervContext.csdl|res://*/NervContext.ssdl|res://*/NervContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=NERV;Persist Security Info=True;User ID=sa;Password=X0wq3p01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="EnterpriseEntities" connectionString="metadata=res://*/EnterpriseContext.csdl|res://*/EnterpriseContext.ssdl|res://*/EnterpriseContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=COMPANY;Persist Security Info=True;User ID=sa;Password=X0wq3p01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="ForeingEntities" connectionString="metadata=res://*/DataBase.InterceptedDataBase.csdl|res://*/DataBase.InterceptedDataBase.ssdl|res://*/DataBase.InterceptedDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=DIALCOM;User ID=sa;Password=X0wq3p01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
</configuration>