<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ForeingEntities" connectionString="metadata=res://*/DataBase.InterceptedDataBase.csdl|res://*/DataBase.InterceptedDataBase.ssdl|res://*/DataBase.InterceptedDataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQLEXPRESS;Initial Catalog=DIALCOM;User ID=sa;Password=X0wq3p01;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>